body {
    background-color: rgb(230, 175, 123);
    font-family:monospace;
    font-size: x-large;
}

h1 {
    margin-top: "120px";
    text-align: "center";
}

.btn {
    border: 2px solid black;
}

input {
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid brown;
    width: 75%;
}

.block {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid brown;
    width: fit-content;
    margin: 20px auto;
    padding: 25px 25px;
}